In [ ]:
#Python Collection
#- List
#- Tuple
#- Dictionary
#- Set

In [ ]:
#- List
#- Indexing
#- Ordered
#- Set
# - Multiple and Diplicate Data
# Mutable

In [1]:
x= list()
y=[]
a=["apple","Ball","Cat","Dog"]
print(type(a))
print(type(x))
print(type(y))

<class 'list'>
<class 'list'>
<class 'list'>

In [13]:
a=["apple","Ball","Cat","Dog","Fish","Apple"]
print(a)
print(a[4])
print(a[0:3])
print(a[0:5:2])

['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
Fish
['apple', 'Ball', 'Cat']
['apple', 'Cat', 'Fish']

In [18]:
a=["apple","Ball","Cat","Dog","Fish","Apple"]
b = [2,3,4,5,6,2,4,6]
c = a+b
print(c)

['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 2, 3, 4, 5, 6, 2, 4, 6]

In [16]:
b = [2,4,5,6,2,4,6]
print(b*2)

[2, 4, 5, 6, 2, 4, 6, 2, 4, 5, 6, 2, 4, 6]

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x =")
    l = l+[x]
    
print(l)

In [24]:
x = 'apple and ball'
x.split()

['apple', 'and', 'ball']

In [27]:
x = ['apple', 'and', 'ball']
for x in a:
    print(x)

apple
Ball
Cat
Dog
Fish
Apple

In [29]:
a = ['apple', 'and', 'cat']
l = len(a)
for z in range(l):
    print(z,(a[z]))

0 apple
1 and
2 cat

In [31]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x =")
    l = l+[x]
    
print(l)

Enter n = 5
Enter x =54
Enter x =25
Enter x =25
Enter x =25
Enter x =55
['54', '25', '25', '25', '55']

In [12]:
l=[12,54,85,75,65,45]
n = len(l)
print("The Max value of l = ",max(l))
print("The min value of l = ",min(l))
print("The sum value of l = ",sum(l))
print("The avg value of l = ",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

The Max value of l =  85
The min value of l =  12
The sum value of l =  336
The avg value of l =  56.0
[12, 45, 54, 65, 75, 85]
[85, 75, 65, 54, 45, 12]

In [11]:
a = ['apple', 'And', 'cat']
a.sort()
print(a)

['And', 'apple', 'cat']

In [ ]:
# Data Input
#append() insert() extend()

#Delete data
#del remove() pop()
#update data
# Reading Index
# index()

In [14]:
a=["apple","Ball","Cat","Dog","Fish","Apple"]
a.append("goat")
print(a)

['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'goat']

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x =")
    l.append(x)
    
    
print(l)

Enter n = 5
Enter x =Ram

In [1]:
# Insert
a=["apple","Ball","Cat","Dog","Fish","Apple"]
a.insert(1,'ball')
print(a)

['apple', 'ball', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [2]:
# update
a=["apple","Ball","Cat","Dog","Fish","Apple"]
a[1]='ball'
print(a)

['apple', 'ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [3]:
# Extend
a=["apple","Ball","Cat","Dog","Fish","Apple"]
b = [2,3,4,5,6,]
a.extend(b)
print(a)

['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 2, 3, 4, 5, 6]

In [6]:
# Del
a = ['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]

In [11]:
# Delete 1 after another ... 

a = ['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
del a[0:5:2]
print(a)

['Ball', 'Dog', 'Apple', 1, 2, 3, 4, 5, 6]

In [6]:
# remove
a = ['apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
a.remove("Ball")
print(a)

['apple', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]

In [11]:
# remove
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
l =a.count('Apple')
print(l)
for i in range(l):
    a.remove("Apple")
a

2

['Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5, 6]

In [14]:
# Pop
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
b = a.pop()

print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5]
6

In [15]:
# Pop generally used for cut only
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
b = a.pop(1)

print(a)
print(b)

['Apple', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
Ball

In [17]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5, 6]
a.index('Apple')

0

In [1]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
k = len(a)
for i in range(k):
    if a[i] == 'Apple':
        print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [ ]:
# List Inside List

In [2]:
a = [[1,2,3],
    [4,5,6],
    7,8,9]]

SyntaxError: unmatched ']' (1421061412.py, line 3)

In [8]:
a = [['Ram',34,'Katmandu'],
    ['Shayam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]


print(a[0])
print(a[0][0])
print(len(a))

['Ram', 34, 'Katmandu']
Ram
3

In [9]:
a = [['Ram',34,'Katmandu'],
    ['Shayam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
b = [['Nabin',48,'Bara']]
c = a+b
c

[['Ram', 34, 'Katmandu'],
 ['Shayam', 45, 'Lalitpur'],
 ['Hari', 67, 'Bhaktapur'],
 ['Nabin', 48, 'Bara']]

In [4]:
info=[]

n = int(input("Enter n = "))
for i in range(n):
    name = input('Enter Name = ')
    age = str(input('ENter Age ='))
    add = input('ENter add =')
    info.append([name,age,add])
print(Info)

Enter n = 2
Enter Name = Ram
ENter Age =25
ENter add =Katmandu
Enter Name = Shayam
ENter Age =35
ENter add =Lagankhel

NameError: name 'Info' is not defined

In [7]:
for i in info:
    if 'Shayam' in i:
        print(i)

In [8]:
name = input("enter name for search = ")
for i in info:
    if name in i:
        print(i)

enter name for search = Ram
['Ram', '45', 'Katmandu']

In [5]:
name = input("enter name for search = ")
for i in info:
    if name.lower() in i[2].lower():
        print(i)

enter name for search = Katmandu
['Ram', '25', 'Katmandu']

In [20]:
# del remove() pop()

a = [['Ram',34,'Katmandu'],
    ['Shayam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]

del a[0][2]
print(a)

[['Ram', 34], ['Shayam', 45, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [21]:
# Update

a = [['Ram',34,'Katmandu'],
    ['Shayam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]

a[0]=['Rama',56,'Jhapa']
print(a)

[['Rama', 56, 'Jhapa'], ['Shayam', 45, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [23]:
# Update

a = [['Ram',34,'Katmandu'],
    ['Shayam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]

a[0:2]=['Rama',56,'Jhapa'],['Shayama',67,'Chitwan']
print(a)

[['Rama', 56, 'Jhapa'], ['Shayama', 67, 'Chitwan'], ['Hari', 67, 'Bhaktapur']]

In [24]:
# Update

a = [['Ram',34,'Katmandu'],
    ['Shayam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]

a[0][0]='Rama'
print(a)

[['Rama', 34, 'Katmandu'], ['Shayam', 45, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [26]:
a = [['Ram',34,'Katmandu'],
    ['Shayam',45,'Lalitpur'],
    ['Hari',67,'Bhaktapur']]
for i in a:
    if i[1]>40:
        print(i)

['Shayam', 45, 'Lalitpur']
['Hari', 67, 'Bhaktapur']

In [ ]:
# WAP to create a matrix (list inside list) by taking column value by user.
# WAP to create a billing system with cRUD (Create, reverse, update, delete)