In [ ]:
# HRMS System for real world scenario

In [1]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\gour\appdata\roaming\python\python39\site-packages (2.2.9)

In [2]:
import mysql.connector  #importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "project_hrms"
)
db = database.cursor()

In [5]:
db.execute("SELECT * FROM employee_basic_details")
result = db.fetchall()
# for x in result:
#     print(x)
result

[('2022-12-11 13:41:22.',
  1,
  'Gour',
  'Kishore ',
  'dey',
  datetime.date(2022, 12, 1),
  'Male',
  'gour@gmail.com',
  '210',
  'GD'),
 ('2022-12-11 13:40:59.',
  2,
  'Abdesh',
  'Kumar',
  'pradhan',
  datetime.date(2018, 12, 12),
  'Female',
  'abdesh@gmail.in',
  '66522',
  'AD'),
 ('0000-00-00 00:00:00.',
  3,
  'ROhesh',
  '',
  'Shreastha',
  datetime.date(2022, 12, 15),
  'Male',
  'rohesh@gmail.com',
  '983248622',
  'RS'),
 ('Okay',
  5,
  'Hari',
  'Kumar',
  'Bose',
  datetime.date(2022, 12, 6),
  'Male',
  'hari@gmail.com',
  '8756485423',
  'HB')]

In [ ]:
sr_no = int(input("Enter serial no = "))
first_name = input("Enter employee First name = ")
middle_name = input("Enter employee middle name = ")
last_name = input("Enter employee last name = ")
date_of_birth = input("Enter DOB of an employee (YYYY-MM-DD format) = ")
gender = input("Enter gender an employee = ")
email_id = input("Enter email ID = ")
phone_no = input("Enter phone no of an employee = ")
alias = input("Enter alias  = ")

import datetime

e = datetime.datetime.now()
time = e.strftime("%Y-%m-%d %H:%M:%S")

print(time)


sql = f'''INSERT INTO 'employee_basic_details' ('first_name', 'middle_name', 'last_name', 'date_of_birth', 'gender', 'email_id', 'phone_no', 'alias') 
VALUES ('{first_name}', '{middle_name}', '{last_name}', {date_of_birth}, '{gender}', '{email_id}', '{phone_no}', '{alias}');'''
db.execute(sql)
database.commit()
print(sql)

In [41]:
import datetime

e = datetime.datetime.now()
time = e.strftime("%Y-%m-%d %H:%M:%S")

print(time)

2022-12-11 16:38:58