In [2]:
a= "Hello World"
b= 'Hello world'
c= '''Hello World'''
print(a)
print(b)
print(c)
print(a,b,c)
print(type(a),type(b),type(c))

Hello World
Hello world
Hello World
Hello World Hello world Hello World
<class 'str'> <class 'str'> <class 'str'>

In [4]:
a="Hello "
b='World'
c= a+b
print(c)

Hello World

In [6]:
a="Hello World\n"
print(a*3)

Hello World
Hello World
Hello World

In [7]:
name = input("ENter name = ")

ENter name = Ram

In [10]:
a= "Hello world I am python"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
Hlowr

In [12]:
a= "Hello world I am python"
print(a[-1::-1])
print(a[::-1])

nohtyp ma I dlrow olleH
nohtyp ma I dlrow olleH

In [15]:
a = input("Enter first value = ")

if a ==a[::-1]:
    print("The number is pelendrome")
else:
    print("The number is not pelendrome")

Enter first value = 3562485
The number is not pelendrome

In [19]:
# String formatting
name = "Ram"
age = 23
info = "Hello World I am "+ name +" I am "+str(age)
print(info)

Hello World I am Ram I am 23

In [20]:
# String formatting
# F has to be there in string formatting. 
name = "Ram"
age = 23
info = f"Hello World I am {name} I am {age}"
print(info)

Hello World I am Ram I am 23

In [23]:
# String formatting
# name = "Ram"
# age = 23
info = f"Hello World I am {input('enter your name ')} I am {input('enter age')}"
print(info)

enter your name Ram
enter age23
Hello World I am Ram I am 23

In [30]:
s = str()
n = int(input("Enter n "))
for i in range(n):
    name = input("Enter name = ")
    s = s+f"{name}"
print(s)

Enter n 3
Enter name = Ram
Enter name = Sita
Enter name = Ram
RamSitaRam

In [32]:
name = input("ENter name =")

ENter name =Gour

In [37]:
a = "Ram Shyam Sita Hari Rita"
print(a.lower())
print(a.upper())
print(a)

ram shyam sita hari rita
RAM SHYAM SITA HARI RITA
Ram Shyam Sita Hari Rita

In [40]:
# replace
a = "Ram Shyam Sita Hari Rita"
a = a.replace('Ram','ram')
print(a)

ram Shyam Sita Hari Rita

In [45]:
a = "Ram Shyam Sita Hari Rita Ram"
a[0:-3]+"Rama"
print(a.lower())

ram shyam sita hari rita ram

In [46]:
# replace
a = "Ram Shyam Sita Hari Rita"
a = a.replace('Ram','')
print(a)

 Shyam Sita Hari Rita

In [47]:
a = "Ram Shyam Sita Hari Rita"
print(a.split())

['Ram', 'Shyam', 'Sita', 'Hari', 'Rita']